old/
.vscode/
symtab.cpp
symtab.hpp
symtab2.cpp
symtab2.hpp
njnr.code-workspace
test/*.c
aclocal.m4
compile
config.h*
config.log
config.status
configure
configure~
depcomp
install-sh
Makefile
Makefile.in
missing
stamp-h1
autom4te.cache/*
*/.deps/*
*/*/.deps/*
*/.dirstamp
*/*/.dirstamp
