old/
.vscode/
symtab.cpp
symtab.hpp
symtab2.cpp
symtab2.hpp
njnr.code-workspace
test/*.c
autom4te.cache/
build/
configure~
config.h.in~
*.o
.deps/
.dirstamp
*.yy.c*
*.tab.*
*.log
*.output
location.hh
src/njnr
Makefile
config.h
config.status
stamp-h1
